body{background-color: gray;
    margin:  0;
    padding: 0;
}

div { 
    box-sizing: inline-block; 
}

header {
    background-color: white;
    padding: 10px;
}

header h1 {
    background-color: white;
    margin: auto;
}

.recommendDivIncludeAll {
    width: 600px;
    margin: auto;
}

.postHeaderContainer h2, p {
    margin: 0;
    padding: 10px;
}

.postContainer {
    background-color: white;
    margin-top: 30px;
}

.postContentContainer img {
    width: 100%; 
}

.mainContainer .postHeaderContainer div:first-child {
    display: inline-block;
    width: 80%;
}


.mainContainer .postHeaderContainer div:last-child {
    display: inline-block;
    width: 20%;
    text-align: center;
    color: gray;
}






